@page "/hotel-room/create"
@page "/hotel-room/edit/{Id:int}"

@using DTOS
@using Business.Repository.IRepository
@inject IHotelRoomRepository HotelRoomRepository
@inject NavigationManager Navigation
@inject IJSRuntime  IJSRuntime
<div class="row">
    <h3 class="card-title text-info">@title Hotel Room</h3>
    <div class="col-md-12">
        <div>
            <EditForm Model="RoomModel" OnValidSubmit="UpsertRoom">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="RoomModel.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=>RoomModel.Name" />
                </div>
                <div class="form-group">
                    <label>Occupancy</label>
                    <InputNumber @bind-Value="RoomModel.Occupancy" class="form-control"></InputNumber>
                    <ValidationMessage For="()=>RoomModel.Occupancy" />
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <InputNumber @bind-Value="RoomModel.Price" class="form-control"></InputNumber>
                    <ValidationMessage For="()=>RoomModel.Price" />
                </div>
                <div class="form-group">
                    <label>Details</label>
                    <InputTextArea @bind-Value="RoomModel.Details" class="form-control"></InputTextArea>
                </div>
                <div class="form-group">
                    <label>Area</label>
                    <InputText @bind-Value="RoomModel.Area" class="form-control"></InputText>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">@title Room</button>
                    <NavLink href="hotel-room" class="btn btn-secondary">Back</NavLink>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    public string title { get; set; } = "Create";
    public HotelRoomDTO RoomModel { get; set; } = new HotelRoomDTO();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            //Update room
            title = "Update";
            RoomModel = await HotelRoomRepository.GetHotelRoom(Id.Value);
        }
        else
        {
            //Create room
            RoomModel = new HotelRoomDTO();
        }
    }

    private async Task UpsertRoom()
    {
        try
        {
            bool isUnique = await HotelRoomRepository.IsRoomUnique(RoomModel.Name, RoomModel.Id);
            if (!isUnique)
            {
                await IJSRuntime.ToastrError("Room name already exist");
                return;
            }

            if (RoomModel.Id != 0 && title == "Update")
            {
                //Update
                var updatedRoom = await HotelRoomRepository.UpdateHotelRoom(RoomModel.Id, RoomModel);
                Navigation.NavigateTo("hotel-room");
                await IJSRuntime.ToastrSuccess("room updated Successfully");
            }
            else
            {
                //Create
                var createdRoom = await HotelRoomRepository.CreateHotelRoom(RoomModel);
                Navigation.NavigateTo("hotel-room");
                await IJSRuntime.ToastrSuccess("room created Successfully");
            }
        }
        catch (Exception)
        {

            throw;
        }

    }

}
